ol {
  max-width: 5000px;
  list-style: none;
  padding-left: 40px;
  font-size: 40px;
}

ol:first-of-type {
  counter-reset: my-counter;
}

ol li {
  counter-increment: my-counter;
  position: relative;
  margin: 20px 0;
}
ol li::before {
  content: counter(my-counter);
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  left: -60px;
  line-height: 50px;
  width: 50px;
  height: 50px;
  top: 0;
  background: #92d050;
  border-radius: 50%;
  text-align: center;
}
